.hero {
  position: relative;
  flex: 1;  
  background-image: url('/images/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); 
}

.content {
  position: relative;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-top: calc(436px - 68px);
  margin-bottom: 16px;
}

.subtitle {
  font-weight: 600;
font-size: 24px;
line-height: 1.33333;
text-align: center;
color: #fff;
margin: 0;
  margin-top: 0;
}

.button {
  display: inline-flex;     
  justify-content: center; /* горизонтальне центрування */
  align-items: center;
  margin-top: 40px;  
  border-radius: 12px;
  padding: 12px 99px;
  width: 276px;
  height: 44px;
  background: #3470ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.button:hover {
  background: #0b44cd;
}

.button:focus {
  background: #0b44cd;
  outline: 2px solid #fff; /* видима обводка для доступності */
  outline-offset: 2px;
}